.leftmenu.closed
  min-height 70px
  height 70px
  overflow hidden
  z-index 2
  position absolute
  top 0
  left 0

.leftmenu.opened
  position fixed
  z-index 2
  overflow-y auto
  height 100%
  overflow-x hidden

.backdrop
  background rgba(0,0,0,.5)
  position fixed
  z-index 1
  top 0
  left 0
  width 100%
  height 100%
  display block
