AuthLayout
  .row(style="height:100%;").align-items-center.justify-content-center
    .col-6
      h3(style="text-align:center;") Sign Up
      form.form(style="text-align:center;")
        .form-group
          input.form-control(type="text" placeholder="Full name" name="fullname")
        .form-group
          input.form-control(type="text" placeholder="Email" name="email")
        .form-group
          input.form-control(type="text" placeholder="Nickname" name="nickname")
        .form-group
          input.form-control(type="text" placeholder="Password" name="password")

        button.btn.btn-primary Sign Up
