

.form-control,.form-control:focus
  outline none
  box-shadow none
.form-group
  margin-bottom 0
.form-control
  border-top-width 0
  border-left-width 0
  border-right-width 0
  border-radius 0
  border-bottom-width 1px
  border-bottom-color metal_normal
  color gray_text
  padding-top 1rem
  padding-bottom 1rem
  font_text()
.form-control:focus
  color primary_normal
  border-bottom-color primary_normal
  // transition all 0.2s ease-out 0.2s

.form-control::placeholder
  color metal_normal
  border-bottom-color metal_normal

// .btn
//   font_button()
//   border-radius 1000px
//   text-transform uppercase
//   margin-top 16px

