

/*
H1 -                 72px/110.8px - 5.14em/5.54em
H2 -                  52px/80px - 3.71em/4.00em
H3 -                  32px/49.2px - 2.29em/2.46em
H4 -      26px/40px - 1.86em/2.00em
Subheding #1  18px/27.7px - 1.28em/1.39em
Title                  16px/24.6px - 1.14em/1.23em
Text                  14px/20px  - 1.00em/1.00em
Button              12px/18.5px - 0.86em/0.93em
Tag                   10px/15.4px - 0.71em/0.77em

Text small 12px/18.4px - 0.86/0.92
Text large 21.5px/33.1px - 1.54/1.66

Button small 10px/15.4px - 0.71em/0.77em
Buttom large 21.5px/33.1px - 1.54/1.66
*/

ratio = 1.54

font_body()
  font-family displayFont
  font-style normal
  font-weight normal
  line-height 20px
  font-size 14px
  letter-spacing 0

font_h1()
  font-family displayFont
  font-weight bold
  font-style normal
  font-size 5.14rem
  line-height 5.54rem
  letter-spacing 0
font_h2()
  font-family displayFont
  font-weight lightWeight
  font-style normal
  font-size 3.71rem
  line-height 4rem
  letter-spacing 0
font_h3()
  font-family displayFont
  font-weight lightWeight
  font-style normal
  font-size 2.29rem
  line-height 2.46rem
  letter-spacing 0
font_h4()
  font-family displayFont
  font-weight lightWeight
  font-style normal
  font-size 1.86rem
  line-height 2rem
  letter-spacing 0
font_subheding1()
  font-family displayFont
  font-weight mediumWeight
  font-style normal
  font-size 1.28rem
  line-height 1.39rem
  letter-spacing 0
font_title()
  font-family displayFont
  font-weight normal
  font-style normal
  font-size 1.14rem
  line-height 1.23rem
  letter-spacing 0
font_text()
  font-family displayFont
  font-weight normal
  font-style normal
  font-size 1rem
  line-height 1rem
  letter-spacing 0
font_text_large()
  font-family displayFont
  font-weight normal
  font-style normal
  font-size 1.54rem
  line-height 1.66rem
  letter-spacing 0
font_text_small()
  font-family displayFont
  font-weight normal
  font-style normal
  font-size 0.86rem
  line-height 0.92rem
  letter-spacing 0
font_button()
  font-family displayFont
  font-weight mediumWeight
  font-style normal
  font-size 0.86rem
  line-height 0.93rem
  text-transform uppercase
  letter-spacing 0
font_button_small()
  font-family displayFont
  font-weight mediumWeight
  font-style normal
  font-size 0.71rem
  line-height 0.77rem
  text-transform uppercase
  letter-spacing 0
font_button_large()
  font-family displayFont
  font-weight mediumWeight
  font-style normal
  font-size 1.54rem
  line-height 1.66rem
  text-transform uppercase
  letter-spacing 0
font_tag()
  font-family displayFont
  font-weight mediumWeight
  font-style normal
  font-size 0.71rem
  line-height 0.77rem
  text-transform uppercase
  letter-spacing 0




