@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"


.name .text
  font_button_small()
  color secondary_text
  padding-right 32px
  padding-left 32px
  margin-top 32px
  margin-bottom 16px
.name .icon-more
  text-align center
  line-height 0

.more
  width 16px
.more path
  fill brand_normal
@import './styles/responsive/style'
