AuthLayout
  .row(style="height:100%;").align-items-center.justify-content-center
    .col-7
      h4(style="text-align:center;") Sign in
      .form(style="text-align:center;")
        input.form-control(type="text" placeholder="Email or nickname" name="login")
        input.form-control(type="text" placeholder="password" name="password")

        button.btn.btn-primary Sign In
